/src/build
/src/packages
/src/tests
/src/CafeApp.Core/obj
/src/CafeApp.Core/bin
/src/CafeApp.Core.Tests/bin
/src/CafeApp.Core.Tests/obj
/src/.fake/build.fsx_4AB9E60C.dll
/src/.fake/build.fsx_4AB9E60C_config.xml
/src/.fake/build.fsx_4AB9E60C_warnings.txt
/src/.fake/build.fsx_28CFA608.dll
/src/.fake/build.fsx_28CFA608_config.xml
/src/.fake/build.fsx_28CFA608_warnings.txt
